<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example App</title>
</head>

<body>
    <canvas id="scoreCanvas">Canvas error!</canvas>
    <br />
    <div class="wms-button-group">
        <button id="playButton" class="wms-button">Play</button>
        <button id="pauseButton" class="wms-button">Pause</button>
        <button id="stopButton" class="wms-button">Stop</button>
    </div>
</body>

</html>